<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Signup</title>
	<link rel="stylesheet" th:href="@{/css/signup.css}">
    <link rel="stylesheet" href="../static/css/signup.css">
    <script src="../static/js/signup.js"></script>
    <script th:src="@{/js/signup.js}"></script>
</head>
<body>
	<section>
		<input type="text" name="username" id="username" placeholder="Enter your username">
		<input type="password" name="password" id="pass" placeholder="Enter your password">
		<button>Log in</button>
		<p>Don't have an account? <a href="signup">Sign up</a></p>
	</section>
</body>
</html>