<!DOCTYPE >
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Meetings Calendar</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/main.js"></script>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
<section>
    <h1>Hi There!</h1>
    <h1>Here you can create plan on the day</h1>
    <h1>Hope you will like it!</h1>
    <a href="signup">START</a>
</section>
</body>
</html>

