<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Signup</title>
	<link rel="stylesheet" th:href="@{/css/user.css}">
    <link rel="stylesheet" href="../static/css/user.css">
	<script src="https://kit.fontawesome.com/7488a09149.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="add">
		<h2>Create new Day</h2>
		<i class="fa fa-plus" aria-hidden="true"></i>
	</div>

	<script src="../static/js/user.js"></script>
    <script th:src="@{/js/user.js}"></script>
</body>
</html>